.wrapper
	.content.clearfix
		.left_space
			.left_space__over
				%h3 foggy-nia
				%span.fa.fa-camera-retro
			.left_space__under
				- if @groups
					- @groups.each do |group|
						%h2= group.group_name
						%P まだメッサージはありません。
		.white_space
			.white_space__above
				- if @groups
					- @groups.each do |group|
						%h2　sample name
						%p memberの名前
						.group_edit_button
							= link_to "edit", "/groups/#{group.id}/edit"
			.white_space__center
				- if @messages
					- @messages.each do |message|
						%h3= message.user.name
						%span= message.created_at
						%p= message.text
			.input_message
				- if @group
					.blank_of_space
						= form_tag("/groups/#{@group.id}/messages", method: :post) do
							%textarea{cols: "100", name: "text", row: 1}
							%input{type: "submit", value: "SENT" }
